/* Icon croped by svg */
.icon {
  mask-image: url("../icons/Icon.svg");
  mask-repeat: no-repeat;
  background-color: #ffffffb2;
  width: 18px;
  height: 20px;
}

/* Icon trong ô tìm kiếm */
.icon-search {
  mask-position: -2px -2px;
  background-color: #6e737a;
}

/* Icon tổng quan */
.icon-overview {
  mask-position: 0 -778px;
}
/* Icon thành phần lương */
.icon-salary-components {
  mask-position: -120px -778px;
}
/* Icon mẫu bảng lương */
.icon-payroll-tmpl {
  mask-position: -100px -778px;
}
/* Icon dữ liệu tính lương */
.icon-payroll-data {
  mask-position: -20px -778px;
}
/* Icon tính lương */
.icon-payroll-calc {
  mask-position: -40px -778px;
}
/* Icon chi trả */
.icon-pay {
  mask-position: -60px -778px;
}
/* Icon báo cáo */
.icon-reports {
  mask-position: -80px -778px;
}
/* Icon thiết lập */
.icon-config {
  mask-position: -140px -778px;
}
/* Icon đóng sidebar */
.icon-collapse {
  mask-position: -162px -779px;
  width: 16px;
  height: 16px;
}
/* Icon mở dropdown ở sidebar */
.icon-sidebar-dropdown {
  mask-position: -186px -781px;
  width: 7.47px;
  height: 12px;
}

.icon-use-component {
  mask-position: -220px 0;
  width: 20px;
  height: 20px;
  background-color: #34B057 !important;
}
.icon-stop-follow {
  mask-position: -222px -40px;
  width: 20px;
  height: 20px;
  background-color: #ff9900 !important;;
}
.icon-follow {
  mask-position: -180px -40px;
  width: 20px;
  height: 20px;
  background-color: #25b973;
}
.icon-clone {
  mask-position: -80px 0;
  width: 20px;
  height: 20px;
  background-color: #6e737a;
}
.icon-three-dot {
  mask-position: -160px -40px;
  width: 20px;
  height: 20px;
  background-color: #6e737a;
}
.icon-edit {
  mask-position: -60px 0;
  width: 20px;
  height: 20px;
  background-color: #6e737a;
}
.icon-delete {
  mask-position: -120px -21px;
  width: 20px;
  height: 20px;
  background-color: #ff6161;
}
.icon-close {
  mask-position: -280px 0;
  width: 20px;
  height: 20px;
  background-color: #6e737a;
}
.icon-error {
  mask-position: -240px -40px;
  background-color: #ffffff;
  width: 20px;
  height: 20px;
}
.icon-success {
  mask-position: -180px -40px;
  background-color: #ffffff;
  width: 20px;
  height: 20px;
}
.icon-async {
  mask-position: -260px -60px;
  background-color: #6e737a;
  width: 20px;
  height: 20px;
}

.icon-pin {
  mask-position: -180px -80px;
  background-color: #34b057;
  width: 20px;
  height: 20px;
}
.icon-unpin {
  mask-position: -180px -80px;
  background-color: #686c7b;
  width: 20px;
  height: 20px;
}


/* Icon get to file svg */
.icon-link {
  background-repeat: no-repeat;
  background-size: cover;
  width: 24px;
  height: 24px;
}

/* Icon danh mục hệ thống */
.icon-rule {
  mask-position: -260px -100px;
  background-color: #6e737a;
  text-align: center;
  font-size: 16px;
  min-width: 20px;
  min-height: 20px;
}

/* Icon danh mục hệ thống */
.icon-chevronright {
  mask-position: -140px 0;
  background-color: #6e737a;
  width: 20px;
  height: 20px;
}
.icon-chevronleft {
  mask-position: -160px 0;
  background-color: #6e737a;
  width: 20px;
  height: 20px;
}

.icon-down {
  mask-position: -101px -1px;
  background-color: #6e737a;
  width: 20px;
  height: 20px;
}


/* Icon popup create */
.icon-back {
  mask-position: -180px 0px;
  background-color: #6e737a;
  width: 20px;
  height: 20px;
}

/* Icon thêm mới */
.icon-plus {
  mask-position: -220px 0;
  background-color: #fff;
}

.icon-logo {
  background-image: url("../icons/logo-recruitment-new.svg");
  width: 32px;
  height: 32px;
}

.icon-bg-noel {
  background-image: url("../icons/navbar-bg-noel.svg");
  width: 103px;
  height: 48px;
}

.icon-switch {
  background-image: url("../icons/icon-swich-app-white.svg");
}

.icon-notifi {
  background-image: url("../icons/icon-notifi.svg");
}
.icon-cart {
  background-image: url("../icons/icon-cart.svg");
  width: 20px !important;
  height: 20px !important;
}
.icon-message {
  background-image: url("../icons/icon-message.svg");
}
.icon-ring {
  background-image: url("../icons/icon-ring.svg");
}
.icon-helpmenu {
  background-image: url("../icons/icon-helpmenu.svg");
}
.icon-moremenu {
  background-image: url("../icons/icon-moremenu.svg");
}
.icon-knowledge {
  background-image: url("../icons/icon-knowledge.svg");
}
.icon-invite {
  background-image: url("../icons/icon-invite.svg");
}
.icon-avatar {
  background-image: url("../icons/icon-avatar.svg");
  border-radius: 50%;
  object-fit: cover;
}

/* icon orther */
.icon-not-found {
  background-image: url("../icons/icon-notfound.svg");
  width: 862.5px;
  height: 333.5px;
}
