.app-header {
  height: 48px;
  background-color: #ffffff;
}
.header-left {
  padding-left: 16px;
  height: 100%;
  background-image: url("../../../assets/icons/navbar-bg-noel.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;

.header-logo {
  position: relative;
  height: 100%;
  width: 103px;
  padding: 0 16px;

  .icon-event {
    position: absolute;
    top: 0;
    left: 0;
    height: 48px;
    width: 103px; // nên set width để cover hoạt động đúng
    background-image: url("../../../assets/icons/event-header.svg");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 2;
  }

  .icon-logo {
    position: absolute;
    margin: 5px 10px 0 18px;
    z-index: 1;
  }
}

  .header-left-title {
    font-weight: 700;
    font-size: 18px;
    color: #1f1f1f;
  }
}
