  <div class="content d-flex align-center justify-center flex-column h-100-percent">
    <div class="icon-not-found"></div>
    <div class="content-description d-flex align-center justify-center flex-column">
      <h2 class="description-title">
        Oops! Không tìm thấy trang
      </h2>
      <div class="description-content">
        Đường dẫn đang truy cập đã bị thay đổi hoặc không tồn tại
      </div>
      <div class="description-btn-back d-flex align-center">
        Quay lại trang chủ
      </div>
    </div>
  </div>