<div class="job-container">
  <div class="ai-summary-container d-flex align-center">
    <div class="ai-summary-left">
      <div class="summary-label d-flex align-center">
        <div class="icon-gemini"></div>
        <div>AVA - Trợ lý trí tuệ nhân tạo</div>
      </div>
      <div class="summary-content">Chào bạn! AVA Có thể giúp gì cho bạn?</div>
    </div>
    <div class="ai-summary-center d-flex align-center">
      <div class="ai-slide-item d-flex align-center">
        <div class="icon-mailbox-ai"></div>
        <div class="slide-text">Viết email chăm sóc ứng viên tiềm năng</div>
      </div>
      <div class="ai-slide-item d-flex align-center">
        <div class="icon-micro-ai"></div>
        <div class="slide-text">Viết email chăm sóc ứng viên tiềm năng</div>
      </div>
      <div class="ai-slide-item d-flex align-center">
        <div class="icon-mailbox-ai"></div>
        <div class="slide-text">Email mời thi tuyển/phỏng vấn</div>
      </div>
    </div>
    <div class="ai-summary-right">

    </div>
  </div>
  <div class="job-header"></div>
  <div class="job-content"></div>
</div>
