.content {
  font-size: 25px;
  background-color: #fff;
  height: 100%;
  font-weight: 700;
}

.deployment-image {
  background-image: url("../../../assets/icons/iconEmptyState.svg");
	width: 740px;
	height: 296px;
  background-repeat: no-repeat;
  background-position: -678px -33px;
  margin-bottom: 16px;
}