<div class="app-sidebar expand-mode image-bg">
  <div class="sidebar-content d-flex flex-column justify-space-between">
    <div class="content-main">
      <div class="menu-item" *ngFor="let item of items">
        <a
          class="menu-link"
          [routerLink]="item.url"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <div class="menu-content d-flex align-center">
            <div class="conten-item d-flex align-center">
              <div class="icon icon-style" [ngClass]="item.icon"></div>
              <div class="menu-title">{{ item.name }}</div>
            </div>
          </div>
        </a>
      </div>
    </div>
    <div class="back-button">
      <div class="content-back d-flex align-center justify-center">
        <div class="icon icon-collapse"></div>
        <div class="title-button">Thu gọn</div>
      </div>
    </div>
  </div>
</div>
